body {
    background: rgb(101,26,152);
    background: -moz-linear-gradient(135deg, rgba(101,26,152,1) 0%, rgba(177,86,86,1) 50%, rgba(255,219,72,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(101,26,152,1) 0%, rgba(177,86,86,1) 50%, rgba(255,219,72,1) 100%);
    background: linear-gradient(135deg, rgba(101,26,152,1) 0%, rgba(177,86,86,1) 50%, rgba(255,219,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#651a98",endColorstr="#ffdb48",GradientType=1);
}

