body {
    background: rgb(101,26,152);
    background: -moz-linear-gradient(135deg, rgba(101,26,152,1) 0%, rgba(177,86,86,1) 50%, rgba(255,219,72,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(101,26,152,1) 0%, rgba(177,86,86,1) 50%, rgba(255,219,72,1) 100%);
    background: linear-gradient(135deg, rgba(101,26,152,1) 0%, rgba(177,86,86,1) 50%, rgba(255,219,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#651a98",endColorstr="#ffdb48",GradientType=1);
}

.game-button {
    position: absolute;
    left: 780px;
    top: 100px;
    background-color: rgb(0, 128, 122);
    padding: 50px 100px;
    border: 10px solid rgb(0, 4, 255);
    border-radius: 5px;
    color: rgb(230, 191, 191);
    font-size: 90px;
    cursor: pointer;
}
.git-button {
    position: absolute;
    left: 780px;
    top: 500px;
    background-color: rgb(0, 128, 122);
    padding: 50px 100px;
    border: 10px solid rgb(0, 4, 255);
    border-radius: 5px;
    color: rgb(230, 191, 191);
    font-size: 90px;
    cursor: pointer;
}
.form-button {
    position: absolute;
    left: 780px;
    top: 777px;
    background-color: rgb(0, 128, 122);
    padding: 50px 100px;
    border: 10px solid rgb(0, 4, 255);
    border-radius: 5px;
    color: rgb(230, 191, 191);
    font-size: 90px;
    cursor: pointer;
}