@import url('https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

content {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title {
    width: auto;
    padding: 10px;
    margin-top: 20px;
    background: rgb(253, 48, 48);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 1000px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 10px;
}

.items p {
    font-size: 25px;
}

.item-title {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

img {
    max-width: 60%;
    height: 450px;
    border-radius: 5px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links a {
    background: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.links a:hover {
    background: #45a049;
}